<h2>Materials</h2>
<% if @m_processes.count > 0 %>
	<div class="accordion">
		<% @m_processes.each do |m_process| %>
			<div class="accordion-item">
				<h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#MProcessMaterialTable-<%= m_process.id %>" aria-controls="#MProcessMaterialTable-<%= m_process.id %>" aria-expanded="false">
						<%= m_process.name %>
					</button>
				</h2>
				<div id="MProcessMaterialTable-<%= m_process.id %>" class="accordion-collapse collapse">
					<div class="accordion-body">
						<% if m_process.materials.count > 0 %>
							<table class="table table-hover">
								<thead>
									<tr>
										<th scope="col" width="80" class="text-center">Stocked</th>
										<th scope="col">Name</th>
										<th scope="col">Cost</th>
										<th scope="col"></th>
									</tr>
								</thead>
								<tbody>
									<% m_process.materials.each do |material| %>
										<tr>
											<td class="text-center">
												<i class="bi <%= material.in_stock ? "bi-check-circle text-success" : "bi-slash-circle text-danger" %>"></i>
											</td>
											<td><%= material.name %></td>
											<td><%= number_to_currency material.quantity_cost %>/<%= material.m_process.units %></td>
											<td>
												<div class="btn-group">
													<a class="btn btn-primary" href="<%= edit_material_path(material) %>">
														<i class="bi bi-pencil-square"></i>
													</a>
													<a class="btn btn-danger" href="<%= material_path(material) %>" data-turbo-method="delete" data-turbo-confirm="Are you sure?">
														<i class="bi bi-trash"></i>
													</a>
												</div>
											</td>
										</tr>
									<% end %>
								</tbody>
								<tfoot>
									<tr>
										<td colspan="4">
											<a class="btn btn-success" href="<%= new_material_path(m_process_id: m_process) %>">
												<i class="bi bi-plus-circle-fill"></i> Material
											</a>
										</td>
									</tr>
								</tfoot>
							</table>
						<% else %>
							<a class="btn btn-success" href="<%= new_material_path(m_process_id: m_process) %>">
								<i class="bi bi-plus-circle-fill"></i> Material
							</a>
						<% end %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
<% else %>
	No machine processes made yet<br>
	<a class="btn btn-primary" href="<%= m_processes_settings_path %>">
		MProcess Settings
	</a>
<% end %>