<h3><%= m_process.name %> Machine</h3>
<%= form_with model: machine do |f| %>
	<div class="row g-3">
		<div class="col-12">
			<div class="form-floating">
				<%= f.text_field :name, class: "form-control", placeholder: "" %>
				<%= f.label :name, class: "form-label" %>
			</div>
		</div>
		<div class="col-12">
			<%= f.hidden_field :m_process_id, value: m_process.id %>
			<%= f.submit class: "btn btn-primary" %>
		</div>
	</div>
<% end %>